/* ======== GLOBAL STYLING ======== */
* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.col4 {
  width: 31.25%;
}

.col8 {
  width: 64.583333%;
}

.col11 {
  width: 89.583333%;
}

.col12 {
  width: 97.916667%;
}

/* ====================================================== */
/* ============= here starts NAV section ============== */
/* ====================================================== */
.myNav {
  position: fixed;
  background: #fff;
  z-index: 1000;
  width: 100vw;
  box-shadow: 0.5px 4px #88888847;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  margin-block-end: 1.32em;
}

.nav-li:hover {
  color: red;
  cursor: pointer;
}

nav ul li {
  padding-right: 3vw;
  display: inline;
  font-size: 1.2em;
  color: #10162f;
}

ul.inline li:last-child {
  margin-right: 0;
}

/* ====================================================== */
/* ============= here starts HOME section ============== */
/* ====================================================== */
.home {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

#myName {
  font-size: 3.5em;
  text-align: center;
}

.aert {
  color: black;
}

.lbj {
  color: red;
}

.edelann {
  color: rgb(138, 135, 135);
}

.lm {
  color: orange;
}

.myWebDev,
.myBerlin {
  font-size: 1.2em;
  text-align: center;
  color: red;
}

.myWebDev {
  letter-spacing: 0.5em;
}

.photoDiv {
  height: 100vh;
}

.myPhoto {
  padding-top: 0;
  max-width: 100%;
  height: -webkit-fill-available;
  margin-left: 3em;
}

img {
  max-width: 100%;
}

/* ====================================================== */
/* ============= here starts ABOUT section ============== */
/* ====================================================== */
.myAbout {
  background: #10162f;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whatIDo,
.howDid {
  background: #141e3b;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3vw;
  border: 1px solid #2d5dcc;
  color: #fff;
  padding: 29px 0;
  text-align: center;
  max-width: 1300px;
  margin: 20px auto;
  padding: 5px 3px;
}

.whatIDo,
.howDid {
  line-height: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whatIdo {
  height: 27vh;
}

.howDid {
  height: 40vh;
}

.myAboutH2 {
  font-size: 1.8em;
  color: #4fe0b0;
  margin: 10px 0;
}

.myAboutH3 {
  font-size: 1.5em;
  color: #4fe0b0;
  margin: 10px;
}

.myAboutH4 {
  color: #66d9ef;
  letter-spacing: 0.1rem;
  font-weight: normal;
  margin: 10px;
  font-size: 1.3em;
  line-height: 1.5em;
}

/* ============================================= */
/* ======== Here starts SKILLS section ========= */
/* ============================================= */
.mySkills {
  background: antiquewhite;
  height: 600px;
}

.myh2skill {
  padding-top: 2rem;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 600;
  margin-left: 10.416666%;
}

.skills-ul {
  height: 400px;
  display: flex;
  margin-bottom: 60px;
  list-style: none;
  padding-inline-start: 0;
}

.skill-li {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  position: relative;
  top: 350px;
  right: -54px;
  display: block;
  font-size: 1.5em;
  line-height: 0.8rem;
  -webkit-transform: rotate(50deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform: rotate(50deg);
  -moz-transform-origin: 100% 0;
  -ms-transform: rotate(50deg);
  -ms-transform-origin: 100% 0;
  -o-transform: rotate(50deg);
  -o-transform-origin: 100% 0;
  transform: rotate(50deg);
  transform-origin: 100% 0;
  width: 20px;
  text-align: right;
  font-weight: 600;
  color: #33459e;
}

.skill-li span {
  padding: 0 5px;
}

.graphic-bar-1,
.graphic-bar-2,
.graphic-bar-3,
.graphic-bar-4,
.graphic-bar-5 {
  position: relative;
  width: 100vw;
  color: rgba(0, 26, 21, 0.6);
}

.graphic-bar-1 {
  top: -8.8rem;
}

.graphic-bar-2 {
  top: -13rem;
}

.graphic-bar-3 {
  top: -17rem;
}

.graphic-bar-4 {
  top: -21rem;
}

.graphic-bar-5 {
  top: -25rem;
}

.bar {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-end;
}

.fill,
.fill1,
.fill2,
.fill3,
.fill4,
.fill5 {
  height: 20px;
  border-radius: 10px;
  background: linear-gradient(to left, #d46060, #1d3b8b);
  width: 100%;
  z-index: 2;
}

.fill {
  height: 80%;
}

.fill1 {
  height: 75%;
}

.fill2 {
  height: 70%;
}

.fill3 {
  height: 59%;
}

.fill4 {
  height: 48%;
}

.fill5 {
  height: 66%;
}

.procent {
  text-align: center;
  color: #fff;
}

hr {
  background-color: #10162f;
  width: 100%;
  float: right;
  margin: 0;
}

.graphic-level-1,
.graphic-level-2,
.graphic-level-3,
.graphic-level-4,
.graphic-level-5 {
  position: relative;
  left: 1.3rem;
  width: 8rem;
}

.graphic-level-1 {
  top: 18.7rem;
}

.graphic-level-2 {
  top: 11.6rem;
}

.graphic-level-3 {
  top: 4.5rem;
}

.graphic-level-4 {
  top: -1rem;
}

.graphic-level-5 {
  top: -7.8rem;
}

.blackSpan {
  font-weight: 600;
}

.darth-vader {
  position: absolute;
  top: -1rem;
  left: 7rem;
}

/* ========================================================= */
/* ============= here starts PROJECTS section ============== */
/* ========================================================= */
.section-projects {
  background-image: linear-gradient(to right, #c7d7e6, #c7d7e633);
}

.my-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  color: black;
  max-width: 1300px;
  margin: 0 auto;

}

.myProjectsH2 {
  padding-top: 2rem;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 600;
}

.my-projects .my-cards {
  margin-bottom: 25px;
}

.visit-website {
  text-align: end;
}

.visit-website>p {
  color: #346beb;
}

#my-card-space:hover {
  box-shadow: -5px 0 20px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-out;
}

/* ======================================================== */
/* ============= here starts CONTACT section ============== */
/* ======================================================== */
.myContact {
  background-color: #c0c0c024;
  text-align: center;
  padding: 10px 0;
  width: 100vw;
  height: 33vh;
  border-top: 4px solid #fff;
}

.contactWrap {
  max-width: 1300px;
  margin: 0 auto;
}

.myCode {
  padding: 30px 0 40px;
  background-color: #c0c0c024;
}

.myCode .code-repositories-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  justify-items: center;
  margin: 40px 0;
}

.myCode a.gitlab-footer-bg .tanuki-logo .tanuki-left-ear:hover, 
.myCode a.gitlab-footer-bg .tanuki-logo .tanuki-right-ear:hover, 
.myCode a.gitlab-footer-bg .tanuki-logo .tanuki-nose:hover {
  fill: #f1a699;
  transition: all 0.1s;
}

.myCode a.gitlab-footer-bg .tanuki-logo .tanuki-left-ear, 
.myCode a.gitlab-footer-bg .tanuki-logo .tanuki-right-ear, 
.myCode a.gitlab-footer-bg .tanuki-logo .tanuki-nose {
  fill: #e24329;
  transition: all 0.8s;
}

.myCode a.gitlab-footer-bg .tanuki-logo .tanuki-left-eye:hover, 
.myCode a.gitlab-footer-bg .tanuki-logo .tanuki-right-eye:hover {
  fill: #fec2a4;
  transition: all 0.1s;
}

.myCode a.gitlab-footer-bg .tanuki-logo .tanuki-left-cheek:hover, 
.myCode a.gitlab-footer-bg .tanuki-logo .tanuki-right-cheek:hover {
  fill: #fed8a4;
  transition: all 0.1s;
}

.myBrief,
.myInterest {
  color: black;
  font-size: 1.3em;
  line-height: 50px;
}

.myInterest {
  line-height: 30px;
}

#myH1Contact, #myH1Code {
  padding-top: 2rem;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 600;
}

.briefDiv {
  margin: 0 auto;
  overflow: auto;
  padding: 0;
  width: 100vw;
}

.myDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
}

.myH2Contact {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 600;
  margin-top: 2rem;
}

.contactIcons {
  color: rgb(11, 11, 99);
}

.myLists {
  list-style: none;
  padding: 0;
  font-weight: 600;
  padding-top: 10px;
  max-width: 1300px;
  margin: 0 auto;
}

.clientEntry {
  color: rgb(11, 11, 99);
  border: none;
  border-radius: 1vw;
  background: #eee6e6;
  padding-left: 0.7rem;
  margin-left: 0.3rem;
}

.clientEntry:focus {
  outline: none;
}

input::placeholder {
  color: rgb(11, 11, 99);
}

input:focus {
  outline: none;
}

#msg {
  width: 90%;
  height: auto;
  font-size: 1em;
  border-radius: 1vw;
  padding: 1rem;
}

#msg:focus {
  outline: none;
}

.buttonSendMessage {
  width: 100%;
  text-align: left;
}

.submitButton {
  background: #10162f;
  color: #fff;
  border-radius: 3vw;
  font-size: 1.5rem;
  padding: 0 1.8rem;
  font-weight: 600;
}

.submitButton:focus {
  outline: none;
}

.submitButton:hover {
  background: linear-gradient(to left, #3dbaf7, #10162f);
}

/* ======================================================== */
/* ============= here starts FOOTER section =============== */
/* ======================================================== */
.footer {
  font-size: 0.8em;
  background: #10162f;
  color: #fff;
  height: 10em;
}

footer {
  overflow: hidden;
  text-align: center;
  clear: both;
  color: #fff;
  padding-top: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialMediaIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.socialMediaIcons a {
  background: #fff;
}

.socialMediaIcons a.gitlab-footer-bg {
  background: transparent;
}

.socialMediaIcons a.gitlab-footer-bg .tanuki-logo .tanuki-left-ear:hover, 
.socialMediaIcons a.gitlab-footer-bg .tanuki-logo .tanuki-right-ear:hover, 
.socialMediaIcons a.gitlab-footer-bg .tanuki-logo .tanuki-nose:hover {
  fill: #f1a699;
  transition: all 0.1s;
}

.socialMediaIcons a.gitlab-footer-bg .tanuki-logo .tanuki-left-ear, 
.socialMediaIcons a.gitlab-footer-bg .tanuki-logo .tanuki-right-ear, 
.socialMediaIcons a.gitlab-footer-bg .tanuki-logo .tanuki-nose {
  fill: #e24329;
  transition: all 0.8s;
}

.socialMediaIcons a.gitlab-footer-bg .tanuki-logo .tanuki-left-eye:hover, 
.socialMediaIcons a.gitlab-footer-bg .tanuki-logo .tanuki-right-eye:hover {
  fill: #fec2a4;
  transition: all 0.1s;
}

.socialMediaIcons a.gitlab-footer-bg .tanuki-logo .tanuki-left-cheek:hover, 
.socialMediaIcons a.gitlab-footer-bg .tanuki-logo .tanuki-right-cheek:hover {
  fill: #fed8a4;
  transition: all 0.1s;
}

.socialMediaIcons a.insta-footer-bg {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  border-radius: 8px;
}

.linkedin-footer-bg {
  border-radius: 3px;
}

.github-footer-bg {
  border-radius: 50%;
}

/* ======================================================== */
/* =========== here starts RESPONSIVE DESIGN ============== */
/* ======================================================== */
@media (max-width: 981px) {
  .myAbout {
    height: 95vh;
  }

  .howDid {
    height: 70vh;
  }

  .myAboutH3 {
    margin-top: 0px;
  }
}

@media (max-width: 873px) {
  .home {
    grid-template-columns: 1fr 1.5fr;
  }

  .myPhoto {
    margin-left: 0;
  } 

  .howDid {
    height: 50vh;
  }

  .myAboutH2 {
    font-size: 1.5em;
  }

  .myAboutH3 {
    font-size: 1.2em;
  }

  .myAboutH4 {
    font-size: 1.1em;
  }

  .skill-li {
    right: -20px;
    font-size: 1.2em;
    transform: rotate(60deg);
    margin-right: -15px;
  }

  .darth-vader {
    left: -5rem;
  }

  .myContact {
    height: 37vh;
  }

  .myDetails {
    flex-direction: column;
  }

  .myInterest,
  .myLists {
    font-size: 1.2rem;
  }

  .socialMediaIcons>a {
    margin-top: 0;
  }
}

@media(max-width: 768px) {
  .myCode .code-repositories-grid {
    grid-template-columns: 1fr;
  }

  .myCode .code-repositories-grid a svg {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 600px) {
  nav ul li {
    font-size: 0.9em;
  }

  .home {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: end;
    grid-template-rows: 1.5fr 1fr;
  }

  #myName {
    font-size: 2.5em;
  }

  .myWebDev,
  .myBerlin {
    font-size: 1em;
  }

  .photoDiv {
    height: 50vh;
  }

  .myPhoto {
    width: auto;
  }

  .myAbout {
    height: 100vh;
  }

  .whatIDo {
    margin: 10px 0;
    height: 30vh;
  }

  .howDid {
    height: 52vh;
  }

  .myAboutH2 {
    font-size: 1.3em;
    margin-bottom: 5px;
  }

  .myAboutH4 {
    font-size: 1.1em;
  }

  .skill-li {
    right: -5px;
    transform: rotate(80deg);
  }

  .myContact {
    height: 40vh;
  }

  .graph-qualifications {
    font-size: 13px;
  }

  .graphic-level-1, .graphic-level-2, .graphic-level-3, .graphic-level-4, .graphic-level-5 {
    width: 4.8rem;
  }

  .graphic-level-1 {
    top: 17.8rem;
  }
  
  .graphic-level-2 {
    top: 11.2rem;
  }
  
  .graphic-level-4 {
    top: -1.4rem;
  }
}

@media (max-width: 408px) {
  #myName {
    font-size: 2.2em;
  }

  .myWebDev,
  .myBerlin {
    font-size: 0.8em;
  }

  .myAbout {
    height: 115vh;
  }

  .whatIDo {
    height: 40vh;
  }

  .howDid {
    height: 66vh;
  }

  .myAboutH2 {
    margin-bottom: 0px;
  }

  .myAboutH3 {
    margin-bottom: 3px;
  }

  .skill-li {
    font-size: 1em;
  }

  .myContact {
    height: 50vh;
  }
}