/* ======== GLOBAL STYLING ======== */
* {
  box-sizing: border-box;
}

body {
  color: #fa0606;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.col4 {
  width: 31.25%;
}

.col8 {
  width: 64.583333%;
}

.col11 {
  width: 89.583333%;
}

.col12 {
  width: 97.916667%;
}

/* ====================================================== */
/* ============= here starts NAV section ============== */
/* ====================================================== */
.wrapper {
  height: 100vh;
  width: 100vw;
}

.myNav {
  position: fixed;
  background: #fff;
  z-index: 1000;
  width: 100vw;
  box-shadow: 0.5px 4px #88888847;
}

.header {
  width: 100%;
  height: auto;
}

.navDiv {
  background: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  margin-block-end: 1.32em;
}

.nav-li:hover {
  color: red;
  cursor: pointer;
}

nav ul li {
  padding-right: 3vw;
  display: inline;
  font-size: 1.2em;
  color: #10162f;
}

ul.inline li:last-child {
  margin-right: 0;
}

/* ====================================================== */
/* ============= here starts HOME section ============== */
/* ====================================================== */
.home {
  height: 100vh;
  display: flex;
  align-items: center;
}

#myname {
  font-size: 3.5em;
  text-align: center;
}

span {
  color: black;
}

.edel {
  color: silver;
}

.lm {
  color: yellow;
}

.mywebdev {
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.5em;
}

.myberlin {
  font-size: 1.2em;
  text-align: center;
}

.photoDiv {
  height: 100vh;
}

.myphoto {
  float: left;
  width: 50%;
  padding-top: 0;
  max-width: 100%;
  height: -webkit-fill-available;
  margin-left: 3em;
}

img {
  max-width: 100%;
}

/* ====================================================== */
/* ============= here starts ABOUT section ============== */
/* ====================================================== */
.myabout {
  background: #10162f;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whatido,
.howdid,
.myMainStack {
  background: #141e3b;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3vw;
  border: 1px solid #2d5dcc;
  color: #fff;
  padding: 29px 0;
  text-align: center;
  margin: 20px 0;
  padding: 5px 3px;
}

.whatido,
.howdid {
  line-height: 1.7rem;
}

.myMainStack {
  height: 170px;
}

.whatido {
  height: 27vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.howdid {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainStack {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tech-skill {
  width: 100px;
  height: 30px;
  border: 1px solid gray;
  background: linear-gradient(to left, #3dbaf7, #1d3b8b);
  color: #fff;
  border-radius: 15px;
  margin: 8px 30px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.myh2 {
  font-size: 1.8em;
  color: #4fe0b0;
  margin: 10px 0;
}

.myh3 {
  font-size: 1.5em;
  color: #4fe0b0;
  margin: 10px;
}

.myh4 {
  color: #66d9ef;
  letter-spacing: 0.1rem;
  font-weight: normal;
  margin: 10px;
  font-size: 1.3em;
  line-height: 1.5em;
}

/* ============================================= */
/* ======== Here starts SKILLS section ========= */
/* ============================================= */
.mySkills {
  background: antiquewhite;
  height: 100vh;
}

.myh2skill {
  margin-bottom: 4rem;
  padding-top: 3rem;
  text-align: left;
  font-weight: bold;
  color: black;
  margin-left: 13vw;
}

.skills-ul {
  height: 400px;
  display: flex;
  margin-bottom: 60px;
  list-style: none;
  padding-inline-start: 0;
}

.myliskill {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  position: relative;
  top: 350px;
  right: -54px;
  display: block;
  font-size: 1.5em;
  line-height: 0.8rem;
  -webkit-transform: rotate(50deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform: rotate(50deg);
  -moz-transform-origin: 100% 0;
  -ms-transform: rotate(50deg);
  -ms-transform-origin: 100% 0;
  -o-transform: rotate(50deg);
  -o-transform-origin: 100% 0;
  transform: rotate(50deg);
  transform-origin: 100% 0;
  width: 20px;
  text-align: right;
  font-weight: 600;
  color: #33459e;
}

.graphic-bar-1,
.graphic-bar-2,
.graphic-bar-3,
.graphic-bar-4,
.graphic-bar-5 {
  position: relative;
  width: 100vw;
  color: rgba(0, 26, 21, 0.6);
}

.graphic-bar-1 {
  top: -8.8rem;
}

.graphic-bar-2 {
  top: -13rem;
}

.graphic-bar-3 {
  top: -17rem;
}

.graphic-bar-4 {
  top: -21rem;
}

.graphic-bar-5 {
  top: -25rem;
}

#bar {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-end;
}

#fill,
#fill1,
#fill2,
#fill3,
#fill4,
#fill5,
#fill6,
#fill7 {
  height: 20px;
  border-radius: 10px;
  background: linear-gradient(to left, #d46060, #1d3b8b);
  width: 100%;
  z-index: 2;
}

#fill {
  height: 80%;
}

#fill1 {
  height: 72%;
}

#fill2 {
  height: 57%;
}

#fill3 {
  height: 48%;
}

#fill4 {
  height: 40%;
}

#fill5 {
  height: 30%;
}

#fill6 {
  height: 20%;
}

#fill7 {
  height: 10%;
}

.procent {
  text-align: center;
  color: #fff;
}

hr {
  background-color: #10162f;
  width: 100%;
  float: right;
  margin: 0;
}

.graphic-level-1,
.graphic-level-2,
.graphic-level-3,
.graphic-level-4,
.graphic-level-5 {
  position: relative;
  left: 1.3rem;
  width: 8rem;
}

.graphic-level-1 {
  top: 18.7rem;
}

.graphic-level-2 {
  top: 11.6rem;
}

.graphic-level-3 {
  top: 4.5rem;
}

.graphic-level-4 {
  top: -1rem;
}

.graphic-level-5 {
  top: -7.8rem;
}

.blackSpan {
  font-weight: 600;
}

.darth-vader {
  position: absolute;
  top: -1rem;
  left: 7rem;
}

/* ========================================================= */
/* ============= here starts PROJECTS section ============== */
/* ========================================================= */
.my-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #c7d7e6, #c7d7e633);
  min-height: 600px;
  color: black;
}

.myProjectsH2 {
  margin-left: 13vw;
}

.my-projects .my-cards {
  margin-bottom: 25px;
  width: 90%;
}

.visit-website {
  text-align: end;
}

.visit-website>p {
  color: #346beb;
}

#my-card-space:hover {
  box-shadow: -5px 0 20px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-out;
}

/* ======================================================== */
/* ============= here starts CONTACT section ============== */
/* ======================================================== */
.mycontact {
  background-color: #c0c0c024;
  text-align: center;
  padding: 10px 0;
  width: 100vw;
  height: 33vh;
}

.mybrief,
.myinterest {
  color: black;
  font-size: 1.3em;
  line-height: 50px;
}

.myinterest {
  line-height: 30px;
}

.mybrief {
  margin-left: 2vw;
}

.briefDiv {
  margin: 0 auto;
  overflow: auto;
  padding: 0;
  width: 100vw;
}

.myicon {
  text-align: right;
}

.mydetails {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
}

#myh1contact {
  color: black;
  font-weight: 600;
}

.myh2contact {
  font-size: 2.4rem;
  text-align: center;
  color: black;
  font-weight: 600;
  margin-top: 2rem;
}

.contactIcons {
  color: rgb(11, 11, 99);
}

.mylists {
  list-style: none;
  padding: 0;
  color: black;
  font-weight: 600;
  padding-top: 10px;
}

.clientEntry {
  color: rgb(11, 11, 99);
  border: none;
  border-radius: 1vw;
  background: #eee6e6;
  padding-left: 0.7rem;
  margin-left: 0.3rem;
}

.clientEntry:focus {
  outline: none;
}

input::placeholder {
  color: rgb(11, 11, 99);
}

input:focus {
  outline: none;
}

#msg {
  width: 90%;
  height: auto;
  font-size: 1em;
  border-radius: 1vw;
  padding: 1rem;
}

#msg:focus {
  outline: none;
}

.buttonSendMessage {
  width: 100%;
  text-align: left;
}

.botao {
  background: #10162f;
  color: #fff;
  border-radius: 3vw;
  font-size: 1.5rem;
  padding: 0 1.8rem;
  font-weight: 600;
}

.botao:focus {
  outline: none;
}

.botao:hover {
  background: linear-gradient(to left, #3dbaf7, #10162f);
}

/* ======================================================== */
/* ============= here starts FOOTER section =============== */
/* ======================================================== */
.footer {
  font-size: 0.8em;
  background: #10162f;
  color: #fff;
  height: 10em;
}

footer {
  overflow: hidden;
  text-align: center;
  clear: both;
  color: #fff;
  padding-top: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialMediaIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.myinsta,
.myLinkedin,
.myGithub {
  width: 2rem;
}

.myinsta {
  background: black;
  border-radius: 10px;
}

.myGithub {
  background: #fff;
  border-radius: 50%;
}

.myLinkedin {
  background: #fff;
  border-radius: 5px;
}

/* ======================================================== */
/* =========== here starts RESPONSIVE DESIGN ============== */
/* ======================================================== */
@media (max-width: 830px) {
  .mytext {
    width: 50vw;
  }

  .photoDiv {
    width: 50vw;
  }

  .myphoto {
    width: 75%;
    margin-left: 0;
  }

  .mycontact {
    height: 37vh;
  }

  .mydetails {
    flex-direction: column;
  }

  .myinterest,
  .mylists {
    font-size: 1.2rem;
  }

  .myliskill {
    right: -20px;
    font-size: 1.2em;
    transform: rotate(60deg);
    margin-right: -15px;
  }

  .darth-vader {
    left: -5rem;
  }

  .myh2 {
    font-size: 1.5em;
  }

  .myh3 {
    font-size: 1.2em;
  }

  .myh4 {
    font-size: 1.1em;
  }

  .socialMediaIcons>a {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  nav ul li {
    font-size: 0.9em;
  }

  #myname {
    font-size: 2.5em;
  }

  .mywebdev,
  .myberlin {
    font-size: 1em;
  }

  .myphoto {
    width: 100%;
  }

  .myh2 {
    font-size: 1.3em;
  }

  .myabout {
    height: 100vh;
  }

  .myh4 {
    font-size: 1.1em;
  }

  .whatido {
    margin: 10px 0;
    height: 30vh;
  }

  .howdid {
    height: 52vh;

  }

  .mycontact {
    height: 40vh;
  }

  .myliskill {
    right: -5px;
    transform: rotate(80deg);
  }
}

@media (max-width: 400px) {
  #myname {
    font-size: 2.2em;
  }

  .mywebdev,
  .myberlin {
    font-size: 0.8em;
  }

  .myabout {
    height: 115vh;
  }

  .whatido {
    height: 40vh;
  }

  .howdid {
    height: 66vh;
  }

  .mycontact {
    height: 50vh;
  }
}